#adventures {
  background-image: url("../images/adventure-image.svg");
  background-repeat: no-repeat;
  background-position: left 21.5% top 45%;
  background-color: #f8f8f8;
}

#adventures__heading {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  padding-top: 207px;
  position: relative;
  left: 60%;
  width: 481px;
}

#adventures__paragraph {
  font-family: "Muli";
  color: #7d7987;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  left: 60%;
  width: 481px;
  padding-top: 10px;
}

#adventures__orande__button {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  background: #fb8f1d;
  width: 164px;
  line-height: 40px;
  position: relative;
  left: 60%;
  margin-bottom: 240px;
  margin-top: 30px;
  padding: 0px;
}
#adventures__orande__button:hover {
  background-color: #f8f8f8;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
}

@media screen and (max-width: 768px) {
  #adventures {
    background-image: none;
  }

  #adventures__heading {
    padding: 17px;
    margin: 0;
    text-align: center;
    font-size: 30px;
    left: auto;
    width: auto;
  }

  #adventures__paragraph {
    margin: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    left: auto;
    width: auto;
  }

  #adventures__orande__button {
    margin: 30px 0;
    font-size: 17px;
    left: auto;
  }
}

@media screen and (min-width: 1800px) {
  #adventures {
    background-size: 700px;
    background-position: left 3% top 60%;
    position: relative;
    top: 190px;
    background-size: 900px;
    
  }

  #adventures__heading {
    position: relative;
    padding-top: 190px;
    transform: scale(1.4);
    margin-left: 70%;
    width: 40%;
    left: auto;
  }

  #adventures__paragraph {
    transform: scale(1.4);
    position: relative;
    top: 80px;
    margin-left: 70%;
    width: 40%;
    left: auto;
  }

  #adventures__orande__button {
    transform: scale(1.4);
    position: relative;
    top: 110px;
    left: 70%;
    margin-bottom: 400px;
  }
}
@media screen and (min-width: 2200px) {
  #adventures {
    position: relative;
    background-position: left 10% top 10%;
    background-size: 1000px;
    max-width: 100%;
    padding-bottom: 50px;
  }
}