#destinations__view {
  display: flex;
  justify-content: left;
  margin-bottom: 56px;
}

#destinations__futured {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  width: 481px;
  margin-top: 163px;
  margin-left: 49px;
  margin-right: 560px;
}

#destinations__view__all {
  font-family: "Inter", sans-serif;
  color: #fb8f1d;
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 163px;
  padding: 0px;
  cursor: pointer;
}
#all__nature__card {
  text-align: center;
}
.destination__nature {
  display: inline-block;
  margin-bottom: 27px;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  transition: transform 0.3s ease;
}
.destination__nature:hover {
  transform: translateY(-40px);
}
.nature__card {
  z-index: 1;
  margin-left: 25px;
  border-radius: 8px;
  width: 261px;
  height: 332px;
  position: relative;
  margin-left: 0px;
  cursor: pointer;

}

.text__black,
.text__grey {
  position: relative;
  top: -50px;
  z-index: 3;
  margin-left: 25px;
  font-family: "Inter", sans-serif;
}

.text__black {
  color: #042521;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  position: absolute;
  margin-left: 0px;
  text-align: start;
  top: 287px;
}

.text__grey {
  color: #80918e;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  margin-left: 0px;
  text-align: start;
  top: 312px;
  position: absolute;
  margin-left: 0px;
  text-align: start;
  top: 312px;
}

.white__square {
  position: absolute;
  margin-top: 0px;
  height: 60px;
  width: 120px;
  top: 272px;
  background-color: #ffffff;
  z-index: 2;
  border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
  #destinations__futured {
    position: relative;
    margin: 0px;
    padding-top: 10px;
    width: auto;
    font-size: 30px;
  }
  #destinations__view__all {
    margin: 0px;
    padding-top: 10px;
  }
  #destinations__view {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
  .text__black {
    position: absolute;
    margin-left: 0px;
    text-align: start;
    top: 287px;
  }
  .white__square {
    height: 62px;
    width: 120px;
    left: -1px;
  }
  .text__grey {
    position: absolute;
    margin-left: 0px;
    text-align: start;
    top: 312px;
  }
  .white__square {
    position: absolute;
    margin-top: 0px;
    top: 272px;
  }
  .nature__card {
    position: relative;
    margin-left: 0px;
  }
  .destination__nature:hover {
    transform: translateY(-30px);
  }
}
@media screen and (min-width: 1800px) {
  #destinations {
    top: 320px;
  }
  .white__square {
    height: 62px;
    width: 120px;
    left: -1px;
  }
  #destinations__view {
    position: relative;
transform: scale(1.4);
top: 120px;


  }
  #all__nature__card {
    position: relative;
    transform: scale(1.4);
    top: 250px;

  }
}
