#footer {
  background-color: #f8f8f8;
}

#footer__logo {
  display: inline-block;
  padding: 26px 0;
  cursor: pointer;
}

#footer__rights {
  position: relative;
  display: inline-block;
  left: 65%;
  color: #848484;
  font-family: "Muli";
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  top: -38px;
}

#footer__rectangle {
  width: 1219px;
  height: 0.6px;
  background-color: #c4c4c4;
}

#footer__social__media {
  text-align: center;
  padding-top: 32.4px;
  padding-bottom: 30px;
}

.footer__margin__right {
  margin-right: 35px;
}

#empty-block {
  height: 1px;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  #footer__rectangle {
    display: none;
  }
  #footer__logo {
    display: flex;
    position: relative;
    left: 47%;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
  }
  #footer__rights {
    right: 0;
    left: 0;
    top: 0;
  }

  #footer__social__media {
    display: inline;
    margin: 25px 0 0;
    padding: 0px;
  }

  #footer__social__media ul {
    padding: 0;
  }

  .footer__margin__right {
    margin-right: 10%;
  }
}
@media screen and (min-width: 1800px) {
  #footer {
    top: 550px;
    position: relative;
  }

  #footer__rectangle,
  #footer__social__media,
  #footer__social__media,
  #footer__logo {
    position: relative;
    transform: scale(1.32);
  }

  #empty-block {
    height: 18px;
  }
}
