#footer {
  background-color: #f8f8f8;
}

#footer__logo {
  display: inline-block;

  margin-top: 31px;
  margin-bottom: 26px;
}

#footer__rights {
  position: relative;
  display: inline-block;
  right: -838px;
  color: #848484;
  font-family: "Muli";
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  top: -46px;
}

#footer__rectangle {
  width: 1219px;
  height: 0.6px;
  background-color: #c4c4c4;
  margin-bottom: 26px;
}

#footer__social__media {
  margin-left: 453px;
  margin-top: 32.4px;
  margin-bottom: 41px;
}

.footer__margin__right {
  margin-right: 35px;
}

#empty-block {
  height: 1px;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  #footer__rectangle {
    display: none;
  }
  #footer__logo {
    display: flex;
    position: relative;
    left: 47%;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
  }
  #footer__rights {
    right: 0;
    left: 0;
    top: 0;
  }

  #footer__social__media {
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-top: 25px;
  }
  #footer__social__media ul{
    padding-inline-start: 0;
  }
  .footer__margin__right {
    margin-right: 10%;
  }
  
}
