#header {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 53px;
}

#header__nav ul {
  display: flex;
  margin-left: 515px;
}

.header__nav-item {
  font-size: 16px;
}

#active-page {
  text-decoration: none;
  color: #202336;
  margin-right: 35px;
}
#header__menu {
  display: none;
}
.not-active-page {
  text-decoration: none;
  color: #b8becd;
  margin-right: 34px;
}

#header__login {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
  background-color: rgba(255, 255, 255, 0);
  width: 132px;
  height: 44px;
}

#header__register {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  background: #fb8f1d;
  color: #fff;
  width: 132px;
  height: 44px;
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  #header {
    align-items: flex-start;
    margin-top: 10px;
    z-index: 10;
    max-width: 100%;
  }

  #header__menu {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    margin-left: -22px;
  }
  #header__nav {
    display: none;
  }
  #header__logo {
    margin-left: 7px;
  }
  #header__logo.hide {
    order: 2;
    margin-right: -15px;
  }

  #header__nav.open ul {
    order: 1;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header__nav.open {
    display: inline;
    width: 70%;
    height: 128px;
    border-radius: 50px;
    background-color: #8feebf;
    box-shadow: 0 0 10px rgba(0, 255, 42, 0.178);
  }

  #header__nav a {
    text-align: center;

    font-weight: 500;
    font-size: 20px;
  }
  #line {
    margin-top: 15px;
  }
  #header__login {
    width: 8rem;
    margin-left: 1.25rem;
  }
  #header__register {
    width: 8rem;
  }
  #header__login.hide,
  #header__register.hide {
    display: none;
  }
  #active-page {
    color: #202336;
    margin-right: 0px;
    width: 100%;
    margin: 15px;

  }
  .not-active-page {
    text-decoration: none;
    color: #000000;
    margin: 15px;
    width: 100%;
  }
  .header__nav-item {
    margin-bottom: 3px;
    font-size: 16px;
    border-radius: 9px;
    background-color: #38df8e;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);
  }
}
